.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;

  background-color: black;
}

.title {
  font-weight: bold;
}

.main {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-box {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

.event-cluster {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  max-height: 100%;
}

.cal-tilecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex-wrap: wrap;
  height: 50px;
}

.event-listitem {
  width: 100%;
  border-bottom: solid 1px #333333;
  padding-bottom: 10px;
}

.delete-event {
  width: 100%;
}

.alert-box {
  right: 0;
  margin: 10px;
  position: fixed;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box-title {
  font-weight: bold;
}

.alert-box-desc {
  font-size: medium;
}

.alert-icon {
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  width: 60px;
}

.alert-button-box {
  padding: 10px;
}

.alert-error {
  border-left: 5px solid rgb(145, 0, 0);
}

.alert-warning {
  border-left: 5px solid rgb(191, 191, 0);
}

.alert-info {
  border-left: 5px solid rgb(0, 134, 191);
}

.event-filter {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #181818;
}

.filter-button {
  height: 100%;
}

.active-filter {
  background-color: black;
}

#status {
  background-color: #181818;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.main-calendar-cluster {
  display: flex;
  flex-direction: column;
}

.event-dot {
  height: 30px;
}
