.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.title {
  font-weight: bold;
}

.main {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-cluster {
  min-width: 30%;
  max-width: 50%;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.cal-tilecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex-wrap: wrap;
}

.event-listitem {
  width: 100%;
  border-bottom: solid 1px #333333;
  padding-bottom: 10px;
}

.delete-event {
  width: 100%;
}
